@model MovieRenderApp.Models.Customer
@{
    ViewBag.Title = "Edit";
}

<h2>Change Your Name Here</h2>
<br />
<br />


@using (Html.BeginForm())
{
    <div class="form-group">
        <div class="row">
            <div class="col-md-2">@Html.Label("Updated Name")</div>
            <div class="col-md-5">@Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })</div>

        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-2">
                @Html.ValidationMessageFor(m => m.Name, "", htmlAttributes: new { @class="form-group"})
            </div>
            <br />
            <br />
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-4"><input type="submit" value="Update" class="btn btn-primary" />
</div>
        </div>


    </div>

}
